[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-login = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
requests = "*"
firebase-admin = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
